
#thumbnail-slider {
   
   width: 310px;
    height: 300px;
    max-width:600px;
    
    background-color:#fff;
   color:#fff;
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}

 
#thumbnail-slider div.inner ul {
    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider ul li {
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    
    margin:0;
    margin-right:10px; /* Spacing between thumbs*/
    transition:border-color 0.3s;
    box-sizing:content-box;
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;
}

#thumbnail-slider ul li.active {
    border-color:white;
}

#thumbnail-slider .thumb {
    opacity:1;
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}


#thumbnail-slider-pause-play {display:none;} /*.pause*/

#thumbnail-slider-prev, #thumbnail-slider-next
{
    opacity:1;
    position: absolute;
    /*background-color:#0346a3;*/
    *background-color:#ccc;/*IE7 hack*/
    backface-visibility:hidden;
    width:32px;
    height:60px;
    line-height:60px;
    top: 50%;
    margin:0;
    margin-top:-30px;
    color:white;    
    z-index:10;
    cursor:pointer;
}

#thumbnail-slider-prev {
    left:-30px; right:auto;
}

#thumbnail-slider-next {
    left:auto; right:-30px;
}



/* arrows */
#thumbnail-slider-prev::before, #thumbnail-slider-next::before {
    position: absolute;
    top: 19px;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    margin-left: -75%;
     margin-right: -60%;
}

#thumbnail-slider-prev::before {
    left:13px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider-next::before {
    right:7px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:600px){

    #thumbnail-slider {}

    #thumbnail-slider-prev {left:0px;}

    #thumbnail-slider-next {right:0px;}
}





#thumbnail-slider1 {
     width: 310px;
    height: 300px;
    max-width:600px;
       color:#fff;
    background-color:#fff;
   
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider1 div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}

 
#thumbnail-slider1 div.inner ul {
    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider1 ul li {
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    
    margin:0;
    margin-right:10px; /* Spacing between thumbs*/
    transition:border-color 0.3s;
    box-sizing:content-box;
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;
}

#thumbnail-slider1 ul li.active {
    border-color:white;
}

#thumbnail-slider1 .thumb {
    opacity:1;
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}


#thumbnail-slider1-pause-play {display:none;} /*.pause*/

#thumbnail-slider1-prev, #thumbnail-slider1-next
{
    opacity:1;
    position: absolute;
    /*background-color:#0346a3;*/
    *background-color:#ccc;/*IE7 hack*/
    backface-visibility:hidden;
    width:32px;
    height:60px;
    line-height:60px;
    top: 50%;
    margin:0;
    margin-top:-30px;
    color:white;    
    z-index:10;
    cursor:pointer;
}

#thumbnail-slider1-prev {
    left:-30px; right:auto;
}

#thumbnail-slider1-next {
    left:auto; right:-30px;
}



/* arrows */
#thumbnail-slider1-prev::before, #thumbnail-slider1-next::before {
    position: absolute;
    top: 19px;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    margin-left: -75%;
     margin-right: -60%;
}

#thumbnail-slider1-prev::before {
    left:13px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider1-next::before {
    right:7px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:600px){

    #thumbnail-slider1 {}

    #thumbnail-slider1-prev {left:0px;}

    #thumbnail-slider1-next {right:0px;}
}


#thumbnail-slider2 {
    width: 310px;
    height: 300px;
    max-width:600px;
       color:#fff;
    background-color:#fff;
   
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider2 div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}

 
#thumbnail-slider2 div.inner ul {
    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider2 ul li {
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    
    margin:0;
    margin-right:10px; /* Spacing between thumbs*/
    transition:border-color 0.3s;
    box-sizing:content-box;
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;
}

#thumbnail-slider2 ul li.active {
    border-color:white;
}

#thumbnail-slider2 .thumb {
    opacity:1;
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}


#thumbnail-slider2-pause-play {display:none;} /*.pause*/

#thumbnail-slider2-prev, #thumbnail-slider2-next
{
    opacity:1;
    position: absolute;
    /*background-color:#0346a3;*/
    *background-color:#ccc;/*IE7 hack*/
    backface-visibility:hidden;
    width:32px;
    height:60px;
    line-height:60px;
    top: 50%;
    margin:0;
    margin-top:-30px;
    color:white;    
    z-index:10;
    cursor:pointer;
}

#thumbnail-slider2-prev {
    left:-30px; right:auto;
}

#thumbnail-slider2-next {
    left:auto; right:-30px;
}



/* arrows */
#thumbnail-slider2-prev::before, #thumbnail-slider2-next::before {
     position: absolute;
    top: 19px;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    margin-left: -75%;
     margin-right: -60%;
}

#thumbnail-slider2-prev::before {
    left:13px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider2-next::before {
    right:7px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:600px){

    #thumbnail-slider2 {}

    #thumbnail-slider2-prev {left:0px;}

    #thumbnail-slider2-next {right:0px;}
}
