body { overflow-x: hidden;-webkit-font-smoothing: antialiased; margin: 0;}
.flex { display: -webkit-flex; display: flex; -webkit-flex-direction: row;  flex-direction: row; -webkit-justify-content: flex-start; justify-content: flex-start;}
.slider-wrapper div {position: relative;}
.slider-wrapper {}
.slide-image {margin-left: -10%;margin-top: -7%;}
.slide-image img {width: 50vw; cursor: pointer;}
.slide-content {width: 80vw; color: #000; padding:3vw 18vw 3vw 2vw;margin-left: 4%;margin-right: 35%;margin-top: -1.5%;}
.slide-title {width: 150%;
    font-size: 2vw;
    font-weight: bold;
    letter-spacing: 0.1vw;
    line-height: 1.55vw;
    padding-bottom: 1.8vw;
    margin-top: -17%;}
.slide-text {font-size: 18px;
    line-height: 2;
    opacity: 0.8;
    width: 200%;}
.slide-bullet {width: 0.5vw; height: 0.5vw; background-color: #0b8bcc; border-radius: 200%; position: relative; margin-left: 1.2vw;}


.arrows{z-index: 11111111;
    width: 10.5vw;
    margin-left: 48vw;
    position: relative;
    margin-top: 6%;}
.arrow {display: inline-block; position: absolute; width: 1.2vw; height: 1.2vw; background: transparent; text-indent: -9999px; border-top: 0.15vw solid #fff; border-left: 0.15vw solid #fff; transition: all .1s ease-in-out; text-decoration: none; color: transparent;
}
.arrow:hover {border-color: #0A8ACB; border-width: 0.25vw;
}
.arrow:before {display: block; height: 200%; width: 200%; margin-left: -50%; margin-top: -50%; content: ""; transform: rotate(45deg);}
.arrow.prev {transform: rotate(-45deg); left: 0;}
.arrow.next {transform: rotate(135deg); right: 0;}


/* toggle */

.Switcher {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5em;
  box-shadow: inset 0 0 0 3px;
  overflow: hidden;
  cursor: pointer;
  -webkit-animation: r-n .5s;
          animation: r-n .5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 3vmin;
  will-change: transform;
}

@-webkit-keyframes r-p {
  50% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
}
@keyframes r-p {
  50% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
}
@-webkit-keyframes r-n {
  50% {
    -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
  }
}
@keyframes r-n {
  50% {
    -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
  }
}
.Switcher::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200%;
  border-radius: inherit;
  background-color: #299e26;
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}
.Switcher__checkbox:checked + .Switcher::before {
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
}

.Switcher__trigger {
  position: relative;
  z-index: 1;
  padding: 3px 25px;

}
.Switcher__trigger::after {
  content: attr(data-value);
}
.Switcher__trigger::before {
  --i: var(--x);
  content: attr(data-value);
  position: absolute;
  color: #fff;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  opacity: calc((var(--i) + 1) / 2);
  -webkit-transition-delay: calc(.3s * (var(--i) - 1) / -2);
          transition-delay: calc(.3s * (var(--i) - 1) / -2);

}
.Switcher__checkbox:checked + .Switcher .Switcher__trigger::before {
  --i: calc(var(--x) * -1);
}
.Switcher__trigger:nth-of-type(1)::before {
  --x: 1;
}
.Switcher__trigger:nth-of-type(2)::before {
  --x: -1;
}

.sr-only {
  position: absolute;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.toggle-box {
	color: #299e26;
display: flex;
    /* -webkit-box-flex: 1; */
    -ms-flex: 1;
    /* flex: 1; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* overflow: hidden; */
    /* -webkit-perspective: 750px; */
    /* perspective: 750px; */
}
.toggle-box .h5{
	color: #000;margin:3%;
	font-weight: bold;
	text-transform: none;
	font-size: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  
  line-height: 1.4;
  
  
}



* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form {
  margin: 10px auto 0px;
}

.search_bar {

    position: relative;
    font-family: 'Nunito Sans', sans-serif;
}
.search_bar input[type=text] {
  border-radius: 50px;
    border: 2px solid #299e26;
    /* border: none; */
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    padding: .5em;
    margin: 0;
    overflow: hidden;
    padding-left: 10%;
}

.search_bar button[type=submit] {

    width: 10%;
    min-width: 56px;
    background: transparent;
    border: 2px solid transparent;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    /* border-radius: 0 3px 3px 0; */
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.search_bar .search_dropdown {
 font-weight: 600;
    min-width: 40px;
    /* background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e2e2e2)); */
    /* background: linear-gradient(#f4f4f4, #e2e2e2); */
    border-right: 1px solid #000;
    color: #555;
    margin-top: 1%;
    height: 35px;
    padding: 0 28px 0 13px;
    /* border-radius: 50px 0 0 2px; */
    /* border: 2px solid transparent; */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.search_bar .search_dropdown:after {
  content: "\2193";
  color: rgba(85, 85, 85, 0);
  height: 8px;
  width: 10px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -6px;
}

.search_bar .search_dropdown > span {
 position: absolute;
    top: 50%;
    margin-top: -20%;
    margin-left: 5%;
    white-space: nowrap;
    font-size: 15px;
}
.search_bar .search_dropdown ul {
  display: none;
  position: absolute;
  top: 105%;
  left: -1px;
  font-size: 14px;
  width: 225px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 7px 0;
}
.search_bar .search_dropdown li {
  list-style-type: none;
  margin: 0;
  padding: 5px 18px;
  color: #1C62A8;
  line-height: 1.2em;
  position: relative;
}

.search_bar .search_dropdown li.selected {
  background: #fff;
  color: #000;
}
.search_bar.huge {
  max-width: 1060px;
}
.search_bar.huge input[type=text] {
  font-size: 20px;

}
.search_bar ::-webkit-input-placeholder {
  font-weight: 400;
}
.search_bar :-ms-input-placeholder {
  font-weight: 400;
}
.search_bar ::-ms-input-placeholder {
  font-weight: 400;
}
.search_bar ::placeholder {
  font-weight: 400;
}

blockquote{
  display:block;
  background: #fff;
  padding: 0;

 
}

blockquote::before{
  content: "\2018"; /*Unicode for Left Double Quote*/
  color: #299e26;
  /*Font*/
  font-family: 'Nunito Sans', sans-serif;
  font-size: 60px;
  font-weight: bold;

  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
  
}

blockquote::after{
  content: "\2019"; /*Unicode for Left Double Quote*/
  color: #299e26;
  /*Font*/
  font-family: 'Nunito Sans', sans-serif;
  font-size: 60px;
  font-weight: bold;
margin-left: 95%;


  
}


@media only screen and (max-width: 780px) {
  .Switcher__trigger {
  position: relative;
  z-index: 1;
  padding: 3px 15px;

}
  input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 1;
   
}
.search_bar input[type=text] {

    border-radius: 50px;
    border: 2px solid #299e26;
    /* border: none; */
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 400;
    font-size: 9px;
    width: 100%;
    padding: .5em;
    margin: 0;
    overflow: hidden;
    padding-left:29%;
  }


  .search_bar .search_dropdown {
 font-weight: 600;
    min-width: 40px;
    /* background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e2e2e2)); */
    /* background: linear-gradient(#f4f4f4, #e2e2e2); */
    border-right: 1px solid #000;
    color: #555;
    margin-top: 3%;
    height: 35px;
    padding: 0 28px 0 13px;
    /* border-radius: 50px 0 0 2px; */
    /* border: 2px solid transparent; */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.Switcher {
    margin-top: 12%;
    margin-right: -4%;
    margin-bottom: 15%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 5em;
    box-shadow: inset 0 0 0 3px;
    overflow: hidden;
    cursor: pointer;
    -webkit-animation: r-n .5s;
    animation: r-n .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 3vmin;
    will-change: transform;
  }


.toggle-box .h5{
     color: #000;
    margin: 3%; 
    text-align: center;
    font-weight: bold;
    text-transform: none;
    font-size: 15px;
    line-height: 1.6;
}
blockquote{
  margin: -1%;
  display:block;
  background: #fff;
  padding: 1px;

}

blockquote::before{
 margin-top: -14%;
  content: "\2018"; /*Unicode for Left Double Quote*/
  color: #299e26;
  /*Font*/
  font-family: 'Nunito Sans', sans-serif;
  font-size: 60px;
  font-weight: bold;

  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
  
}

blockquote::after{
  left: 100%;
  content: "\2019"; /*Unicode for Left Double Quote*/
  color: #299e26;
  /*Font*/
 font-family: 'Nunito Sans', sans-serif;
  font-size: 60px;
  font-weight: bold;
margin-left: 10%;
    vertical-align: -webkit-baseline-middle


  
}
}